/* ######### BASES ########## */

html {
    font-size:62,5%; /* modifie la taille de base de sorte qu'1 rem = 10px  */
}



/* ### FONT ### */


a {
    text-decoration: none;
}

h1 a {
    color:#fdcb46;
}

/* Titre h2 Landing page */

.menuLD1--Typo {
    @include title1Font;
    text-align: center;
    font-size: 1.4rem;
}

.menuLD2--Typo {
    @include title2Font;
    text-align: center;
    font-size: 1.1rem;
}

.menuLD3--Typo {
    @include title3Font;
    text-align: center;
    font-size: 1.4rem;
}

.menuLD4--Typo {
    @include title4Font;
    text-align: center;
    font-size: 1.4rem;
}
