/* ######### BASES ########## */

html {
    font-size:62,5%; /* modifie la taille de base de sorte qu'1 rem = 10px  */
}

/* ### LINKS ### */

a {
    text-decoration: none;
}

h1 a, p a {
    color:$color-titres;
}

