/* ######### BASES ########## */

html {
    font-size:62,5%; /* modifie la taille de base de sorte qu'1 rem = 10px  */
}

body {
    background-color:$color-bg;
}

/* ### LINKS ### */

a, h1 a, p a {
    color:$color-link;
    text-decoration: none;
}


/* ### TEXTES ### */

h1 {
    color: $color-link;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size:3rem;
    letter-spacing:-0.2rem;          
}
