/* POLICE PRINCIPALE */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/*  font-family: 'Open Sans', sans-serif;  */


/* POLICES TITRES MENU */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Kaushan+Script&family=Parisienne&display=swap');


/* 

 MENU 1:   font-family: 'Devonshire', cursive;

 MENU 2:   font-family: 'Croissant One', cursive;

 MENU 3:   font-family: 'Parisienne', cursive;

 MENU 4:   font-family: 'Kaushan Script', cursive;

*/


/* MENU 1 */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

/*
font-family: 'Amatic SC', cursive;
*/

/* MENU 2 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* 
font-family: 'Libre Baskerville', serif;
*/



/* MENU 3 et 4 */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

/* 
font-family: 'Merienda', cursive;
*/


