/* ######### LANDING PAGE  ############ */

/* ### MAIN ### */

.contentLD {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin:auto;
    margin-top:2rem;
    @media screen and (max-width: 767.98px) {
        flex-direction:column;
        max-width:95%;
    }
    @media screen and (min-width: 767.99px) {
        flex-direction:row; 
        width:40rem;
    }
    &__menu1{
            @include menusLD;
            background-color: $color-bg-menu1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            a {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                color:$color-txt-menu1;
            }
            h2 {
                @include title1Font;
                font-size: 1.5rem;
                font-weight:normal;
                margin :0.1rem;
            }
            p {
                @include menu1Font;
                font-size: 2rem;
                margin:0.8rem;
                font-weight: 700;
            }
            img {
                width:2rem;
            }
        }
    &__menu2{
            @include menusLD;
            background-color: $color-bg-menu2; 
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            a {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center; 
                color :$color-txt-menu2;
            }
            h2 {
                @include title2Font;
                font-weight:normal;
                text-align: center;
                font-size: 1.1rem;
            }
            p {
                @include menu2Font;
                font-size: 1.5rem;
                font-weight:700;
                margin:0.6rem;
                }
    }
     &__menu3{
            @include menusLD;
            background-color: $color-bg-menu3; 
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            a {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                color :$color-txt-menu3ter;
            }
             h2 {
                @include title3Font;
                font-weight:normal;
                text-align: center;
                font-size: 1.5rem;
                 margin:0.6rem;
             }
             p {
                @include menu3Font;
                font-size: 2rem;
                font-weight:400;
                margin:0.6rem;
             }
    }
     &__menu4{
            @include menusLD;
            background-color: $color-bg-menu4; 
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            a {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                color :$color-txt-menu4;
            }
             h2 {
                @include title4Font;
                font-weight:normal;
                text-align: center;
                font-size: 1.4rem;
                margin:0.6rem;
             }
             p {
                @include menu4Font;
                font-size: 2rem;
                font-weight:400;
                margin:0.6rem;
             }
    } 
    /*animations sur les blocs menus */ 
    section {
        transform:scale(1);
        transition: transform 1000ms, opacity 250ms;
    }
    @media screen and (max-width: 767.98px) {
        section:active {
        transform: scale(1.1);
        opacity:0.5;
        }
    }
    @media screen and (min-width: 767.99px) {
        section:hover {
        transform: scale(1.1);
        opacity:0.5;
        }
    }
}



/* ### NEXT ### */


.next {
    width:18rem;
    margin:auto;
    display:flex; /* en prévision du contenu a venir */
    justify-content: center;
    @media screen and (max-width: 767.98px) {
        margin: 2rem 0rem 13rem 0rem;  
    }
    @media screen and (min-width: 767.99px) {
        margin: 2rem 0rem 7rem 0rem;    
    }
    p {
        font-family: 'Open Sans', sans-serif; 
        color:$color-titres;
        font-weight:400;
        font-size:1.7rem;
        margin:0.7rem;
    }
    &--bgColor {
        background-color: $color-bg-headFoot; 
    }
    &--border{
        border-radius: 0.7rem;
    }  
}




