/* ######### PAGE : LA NOTE ENCHANTEE ########## */

/* ### NOTE + TEXTE EN BAS DE PAGE ### */

.content__NoteBasPage {
    display:flex;
    justify-content: center;
    align-items:center;
    img{
        /*display:inline-block;*/
        width:1.5rem; /* Taille de la note de musique */
        /* margin:0rem 0.7rem 0rem 0rem;*/
        margin-right:0.7rem; /* marge de droite par rapport au texte */
    }
    p {
        @include titleM1Font; /* p style h menu 1 */
        font-size:1.7rem;
        font-weight:normal;
    }
    
}