
/* ###### MIXINS ######*/

/* ### FONTS ### */

@mixin mainFont {
	font-family: 'Open Sans', sans-serif;
}

@mixin title1Font {
    font-family: 'Devonshire', cursive;
}

@mixin title2Font {
    font-family: 'Croissant One', cursive;
    background-image: linear-gradient(to right, $color-txt-menu2 0%, $color-txt-menu2bis 50%, $color-txt-menu2ter 70%);
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;

}

@mixin title3Font {
    font-family: 'Parisienne', cursive;
    background-image: linear-gradient(to right, $color-txt-menu3 0%, $color-txt-menu3bis 50%, $color-txt-menu3ter 70% );
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

@mixin title4Font {
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right, $color-txt-menu4 0%, $color-txt-menu4bis 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

@mixin menu1Font {
    font-family: 'Caveat', cursive;
}

@mixin menu2Font {
    font-family: 'Libre Baskerville', serif;
}

@mixin menu3Font {
    font-family: 'Caveat', cursive;
}

@mixin menu4Font {
    font-family: 'Caveat', cursive;
}

/* ### BLOCS MENU LANDING PAGE ### */

@mixin menusLD {
        box-shadow: 0 0 1rem $color-border-menu;
        margin: 1rem;
        width:17rem;
        height: 25rem;
}