/* COULEURS */
$color-bg:#ffffff;
$color-bg-headFoot:#579c87;
$color-bg-menu1:#fcdfdb;
$color-bg-menu2:#fff5fe;
$color-bg-menu3:#f9f9f9;
$color-bg-menu4:#fdfffd;
$color-titres:#fdcb46;
$color-txt-menu1:#3d1319;
$color-txt-menu2:#6e4ccc;
$color-txt-menu3:#0228dd;
$color-txt-menu4:#3d923a;


