/* ###### VARIABLES ######*/

/* ### COULEURS ### */
/* ## BACKGROUNDS ## */
$color-bg:#ffffff;

$color-bg-headFoot:#579c87;

$color-bg-menu1:#fcdfdb;
$color-bg-menu2:#fff5fe;
$color-bg-menu3:#f9f9f9;
$color-bg-menu4:#fdfffd;

/* ## BORDER ## */
$color-border-menu:#ededed;

/* ## FONTS ## */
$color-titres:#fdcb46;
$color-txt:#000000;

$color-txt-menu1:#3d1319;

$color-txt-menu2:#c67412;
$color-txt-menu2bis:#a56799;
$color-txt-menu2ter:#6e4ccc;

$color-txt-menu3:#0228dd;
$color-txt-menu3bis:#0670f3;
$color-txt-menu3ter:#229df9;

$color-txt-menu4:#3d9339;
$color-txt-menu4bis:#bfff7e;


