/* FOOTER */

.footer {
        display:flex;
        width:100%;
        margin:auto;
        justify-content:space-between;
        align-items: center;
        position: fixed;
        bottom: 0rem;
        border-top: 0.2rem fade-out(rgba($color-bg-headFoot,1),0.5) solid; /* problème de rendu à corriger */
        @media screen and (max-width: 767.98px) {
            flex-wrap:wrap-reverse;
            height:9rem;
            justify-content:center;
        }
        @media screen and (min-width: 767.99px) {
            height:4.5rem;
        }
        &--bgColor {
            background-color:$color-bg-headFoot; 
        }
        p, a {
            padding:0rem 1.3rem 0rem 1.3rem;
            @include mainFont;
            font-weight:600;
            font-size:1.3rem;
            color: $color-titres;
        }
}