/* FOOTER */

.footer {
        display:flex;
        width:100%;
        margin:auto;
        justify-content:space-between;
        align-items: center;
        position: fixed;
        bottom: 0rem;
        @media screen and (max-width: 767.98px) {
            flex-wrap:wrap-reverse;
            height:9rem;
            justify-content:center;
        }
        @media screen and (min-width: 767.99px) {
            height:4.5rem;
        }
}

.footer--bgColor {
        background-color:$color-bg-headFoot; 
}


.footer__txt--color {
        color: $color-titres;
}


.footer__txt--typo {
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
        font-size:1.3rem;
}

.footer p {
        padding:0rem 1.3rem 0rem 1.3rem;
}


.footer--border { /* problème de rendu à corriger */
        border-top: 0.2rem fade-out(rgba($color-bg-headFoot,1),0.5) solid;
}