/* ######### HEADER ########## */

.header {
        width:100%;
        margin:auto;
        height:7rem;
        display:flex;
        justify-content:center;
        border-bottom: 0.2rem fade-out(rgba($color-bg-headFoot,1),0.5) solid;  /* Fonction d'opacité de couleur automatique */
        @media screen and (max-width: 230px) { /* résoud un problème sur les tailles écran du type montres connectées */
          overflow:hidden;   
        }
        &--bgColor {
            background-color:$color-bg-headFoot; 
        }
}
